html,
body {
	font-family: 'Lato', sans-serif;
}

body {
	margin-bottom: 50px;
}

.tbl {
	width: 100%;
	background: #fff;
	border: 1px solid rgba(34, 36, 38, 0.15);
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0.28571429rem;
	text-align: left;
	color: rgba(0, 0, 0, 0.87);
	border-collapse: separate;
	border-spacing: 0;
	margin-top: 5px;
}

.tbl table,
th,
td {
}

.tbl thead th {
	height: 50px;
	cursor: auto;
	background: #ebebec;
	text-align: inherit;
	color: rgba(0, 0, 0, 0.87);
	padding: 0.25em 0.25em;
	vertical-align: inherit;
	font-weight: 700;
	text-transform: none;
	border-bottom: 1px solid rgba(34, 36, 38, 0.1);
	border-left: none;
}

table.tbl {
	margin-bottom: 2.5rem;
}

.tbl td {
	padding: 0.25rem;
	vertical-align: middle;
}

.tbl th {
	padding: 0.25em 0.75em;
}

/* Trying to give it more space...
.tbl tfoot {
	height: 50px;
}
*/
