<script>
	import { createEventDispatcher } from 'svelte';
	import BudgetOverview from './BudgetOverview.svelte';
	import CategoryDetail from './CategoryDetail.svelte';
	import Calculator from './Calculator.svelte';
	import Income from './Income.svelte';
	import Modal from './Modal.svelte';
	import InstallAppModal from './InstallAppModal.svelte';

	export let incomes;
	export let categories;
	export let buildDate = ''; // milliseconds since the epoch (e.g. Date.now())

	const dispatch = createEventDispatcher();
	const yearly = income =>
		income.hourly * income.hoursPerWeek * income.weeksPerYear;
	const monthly = income => yearly(income) / 12;
	const getMonthlyTotal = income =>
		incomes.reduce((sum, income) => sum + monthly(income), 0);
	const budget = (income, percentage) => income * (percentage / 100);

	$: monthlyTotal = getMonthlyTotal(incomes);

	function handleIncomeChange(event) {
		incomes = event.detail;
		dispatch('incomes', incomes);
		// TODO: May want a budget and possibly budget controller to reduce duplication with the components
		categories = categories.map(c => {
			c.budget = budget(monthlyTotal, c.percentage);
			return c;
		});
		dispatch('categories', categories);
	}

	function handleOverviewChange(event) {
		categories = event.detail;
		dispatch('categories', categories);
	}

	function handleItemsChange(categoryName, newItems) {
		categories = categories.map(c => {
			if (c.name === categoryName) {
				c.items = newItems;
			}
			return c;
		});
		dispatch('categories', categories);
	}
</script>

<main class="container-fluid">
	<h1>Budget App</h1>
	<section class="notwide">
		<h2 class="help m-0">Income</h2>
		<Modal title="Income">
			<p>
				Enter your <em>gross</em> income (before taxes, benefits, etc.) in
				either the hourly, monthly, or yearly income boxes.
			</p>
			<p>Click on the income name to configure it.</p>
		</Modal>
		<Income incomes={incomes} on:incomeChange={handleIncomeChange} />
	</section>
	<section class="notwide pt-2">
		<h2 class="help">Monthly Budget</h2>
		<Modal title="Monthly Budget">
			<p>
				The Monthly Budget section will automatically update based on
				your income.
			</p>
			<p>
				You can change the percentages of each category, or if you know
				the actual amount you expect to spend each month, you can enter
				that instead.
			</p>
			<p>
				Check the budget totals to make sure you're allocating all your
				income appropriately and not overspending.
			</p>
		</Modal>
		<BudgetOverview
			income={monthlyTotal}
			categories={categories}
			on:categoryChange={handleOverviewChange}
		/>
	</section>
	<section class="mx-auto">
		<h2 class="text-center">Budget Breakdown</h2>
		<div class="wrap">
			{#each categories as { name, items, budget }}
				<CategoryDetail
					name={name}
					items={items}
					goal={budget}
					on:itemsChange={e =>
						handleItemsChange(name, e.detail.items)}
				/>
			{/each}
		</div>
	</section>
	<div class="fab">
		<Modal title="Calculator" icon="calculator" btnClass="">
			<Calculator />
		</Modal>
	</div>

	<footer>
		<p class="text-center">
			Made by <a href="https://crooke.gitlab.io">crooke</a>.
			{#if buildDate}
				Built {new Date(buildDate).toLocaleDateString()}
				{new Date(buildDate).toLocaleTimeString()}.
			{/if}
			<InstallAppModal />
		</p>
	</footer>
</main>

<style>
	h1 {
		text-align: center;
	}

	.fab {
		position: fixed;
		right: 50px;
		bottom: 40px;
		background: #fff;
		border: 1px solid #5f5e5e;
		border-radius: 35px;
	}

	.notwide {
		max-width: 650px;
		margin: auto;
	}

	.wrap {
		/* Twice(+) the width of the tables */
		max-width: 800px;
		margin: auto;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.help {
		display: inline-block;
		position: relative;
		top: 5px;
	}
</style>
