<script>
	import { createEventDispatcher } from 'svelte';
	import { FormGroup, Label } from 'sveltestrap';
	import Modal from './Modal.svelte';
	import NumInput from './NumInput.svelte';

	export let income = 0; // Not necessarily monthly
	export let categories = [];
	const dispatch = createEventDispatcher();

	// Sets the budgets based on income percentages
	$: categories = categories.map(c => ({
		...c,
		budget: budget(income, c.percentage)
	}));

	const emptyCategory = () => ({
		name: '',
		percentage: 0,
		budget: 0
	});

	$: totals = categories.reduce(
		(acc, category) => ({
			percentage: Math.round(acc.percentage + (category.percentage || 0)),
			budget: Math.round(acc.budget + (category.budget || 0))
		}),
		emptyCategory()
	);

	function percentChange(categoryName, newAmount) {
		categories = categories.map(c =>
			c.name === categoryName
				? {
						...c,
						percentage: newAmount,
						budget: budget(income, newAmount)
				  }
				: c
		);
		dispatch('categoryChange', categories);
	}

	function budgetChange(categoryName, newAmount) {
		categories = categories.map(c =>
			c.name === categoryName
				? {
						...c,
						budget: newAmount,
						percentage: percentage(income, newAmount)
				  }
				: c
		);
		dispatch('categoryChange', categories);
	}

	function addCategory() {
		categories = [
			...categories,
			{
				name: `Category ${categories.length + 1}`,
				percentage: 0,
				budget: 0,
				items: [{ name: 'Item 1', value: 0 }]
			}
		];
	}

	function deleteCategory(categoryName) {
		const index = categories.findIndex(i => i.name === categoryName);
		categories.splice(index, 1);
		categories = categories;
	}

	function budget(income, percentage) {
		return income * (percentage / 100);
	}

	function percentage(income, budget) {
		// Prevent divide-by-zero
		if (income === 0) return 0;

		return (budget / income) * 100;
	}
</script>

<table class="tbl">
	<thead>
		<tr>
			<th scope="col">
				Category
				<button class="btn" on:click={addCategory}>
					<i class="fa fa-plus" aria-hidden="true" />
				</button>
			</th><th scope="col">Percent</th>
			<th scope="col">Budget</th>
		</tr>
	</thead>
	<tbody>
		{#each categories as { name, percentage, budget }}
			<tr>
				<th scope="row">
					<Modal btnClass="px-0 text-left">
						<span slot="button">{name}</span>
						<div>
							<FormGroup>
								<Label for="categoryName">Name</Label>
								<input
									type="text"
									id="categoryName"
									bind:value={name}
									class="form-control"
								/>
							</FormGroup>
							<button
								class="btn btn-danger float-right"
								on:click={() => deleteCategory(name)}
							>
								<i class="fa fa-trash" aria-hidden="true" />
							</button>
						</div>
					</Modal>
				</th>
				<td
					><NumInput
						placeholder="Percent"
						prefix=""
						postfix="%"
						value={percentage}
						on:input={e => percentChange(name, e.detail.value)}
						width="3"
					/></td
				>
				<td
					><NumInput
						placeholder="Budget"
						value={budget}
						on:input={e => budgetChange(name, e.detail.value)}
					/></td
				>
			</tr>
		{/each}
	</tbody>
	<tfoot>
		<tr>
			<th scope="row">Total</th>
			<td
				class={totals.percentage > 100 ? 'alert alert-danger' : ''}
				role="cell"
				aria-label="Percentage Total"><b>{totals.percentage}%</b></td
			>
			<td
				class={totals.budget > Math.round(income)
					? 'alert alert-danger'
					: ''}
				role="cell"
				aria-label="Budget Total"><b>${totals.budget}</b></td
			>
		</tr>
	</tfoot>
</table>
