<script>
	let value = '';

	function handleSubmit(event) {
		event.preventDefault();
		// Similar to `eval` but a little faster and rollup doesn't complain..
		// Still not safe though
		value = new Function('return ' + calc.input.value)();
	}
</script>

<form name="calc" on:submit={handleSubmit}>
	<div class="container">
		<div class="row">
			<div class="col grow">
				<input
					type="text"
					name="input"
					class="form-control"
					value={value}
					pattern="[0-9\+-\/*\s]*"
					autocomplete="off"
					title="Calculator input"
				/>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<input
					type="button"
					class="btn btn-outline-dark"
					value="  1  "
					onclick="calc.input.value += '1'"
				/>
			</div>
			<div class="col">
				<input
					type="button"
					class="btn btn-outline-dark"
					value="  2  "
					onclick="calc.input.value += '2'"
				/>
			</div>
			<div class="col">
				<input
					type="button"
					class="btn btn-outline-dark"
					value="  3  "
					onclick="calc.input.value += '3'"
				/>
			</div>
			<div class="col">
				<input
					type="button"
					class="btn btn-dark"
					value="  +  "
					onclick="calc.input.value += ' + '"
				/>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<input
					type="button"
					class="btn btn-outline-dark"
					value="  4  "
					onclick="calc.input.value += '4'"
				/>
			</div>
			<div class="col">
				<input
					type="button"
					class="btn btn-outline-dark"
					value="  5  "
					onclick="calc.input.value += '5'"
				/>
			</div>
			<div class="col">
				<input
					type="button"
					class="btn btn-outline-dark"
					value="  6  "
					onclick="calc.input.value += '6'"
				/>
			</div>
			<div class="col">
				<input
					type="button"
					class="btn btn-dark"
					value="  -  "
					onclick="calc.input.value += ' - '"
				/>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<input
					type="button"
					class="btn btn-outline-dark"
					value="  7  "
					onclick="calc.input.value += '7'"
				/>
			</div>
			<div class="col">
				<input
					type="button"
					class="btn btn-outline-dark"
					value="  8  "
					onclick="calc.input.value += '8'"
				/>
			</div>
			<div class="col">
				<input
					type="button"
					class="btn btn-outline-dark"
					value="  9  "
					onclick="calc.input.value += '9'"
				/>
			</div>
			<div class="col">
				<input
					type="button"
					class="btn btn-dark"
					value="  x  "
					onclick="calc.input.value += ' * '"
				/>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<input
					type="button"
					class="btn btn-danger"
					value="  C  "
					onclick="calc.input.value = ''"
				/>
			</div>
			<div class="col">
				<input
					type="button"
					class="btn btn-outline-dark"
					value="  0  "
					onclick="calc.input.value += '0'"
				/>
			</div>
			<div class="col">
				<input type="submit" class="btn btn-primary" value="  =  " />
			</div>
			<div class="col">
				<input
					type="button"
					class="btn btn-dark"
					value="  /  "
					onclick="calc.input.value += ' / '"
				/>
			</div>
		</div>
	</div>
</form>

<style>
	input {
		font-size: 1.5rem;
	}

	input[type='text'] {
		border: 1px solid black;
	}

	.btn {
		width: 60px;
		height: 60px;
	}

	.btn-dark {
		background-color: #5e656b;
	}

	.btn-danger {
		background-color: #d86772;
	}

	.btn-outline-dark {
		background: #e4e4e4;
	}

	.col {
		flex-grow: 0;
		padding: 0.25rem;
	}

	.container {
		width: 275px;
	}

	.grow {
		flex-grow: 1;
	}

	.row {
		justify-content: center;
	}
</style>
