<script>
	import NumInput from './NumInput.svelte';
	import { createEventDispatcher } from 'svelte';

	const ENTER_KEY = 13;
	const ESCAPE_KEY = 27;

	export let name = '';
	export let items = [{ name: 'Line Item', value: 0 }];
	export let goal = 0;

	let editing = '';
	const dispatch = createEventDispatcher();
	$: total = items.reduce((sum, i) => sum + (i.value || 0), 0);

	function handleInput(itemName, newValue) {
		items = items.map(i =>
			i.name === itemName ? { ...i, value: newValue } : i
		);
		dispatch('itemsChange', { items });
	}

	function addItem() {
		dispatch('itemsChange', {
			items: [...items, { name: `Item ${items.length + 1}` }]
		});
	}

	function deleteItem(itemName) {
		const index = items.findIndex(i => i.name === itemName);
		items.splice(index, 1);
		dispatch('itemsChange', { items });
	}

	function makeEditable(index, event) {
		// Need to blur for iOS to display keyboard (https://stackoverflow.com/questions/55868247)
		editing = index;
		event.target.blur();
		event.target.readOnly = false;
		// blur calls submit which clears the index
		editing = index;
		event.target.focus();
		event.target.select();
	}

	function handleEdit(event) {
		if (event.which === ENTER_KEY) event.target.blur();
	}

	function submit(event) {
		items[editing].name = event.target.value;
		editing = null;
		dispatch('itemsChange', { items });
	}
</script>

<table class="tbl">
	<colgroup>
		<col />
		<col />
		<col style="width: 10%;" />
	</colgroup>
	<thead>
		<tr>
			<th>
				<input type="text" value={name} readonly />
			</th>
			<th role="cell" aria-label={`${name} Goal`}>
				<i class="fa fa-bullseye" aria-hidden="true" /> ${Math.round(
					goal
				)}
			</th>
			<th>
				<button class="btn float-right" on:click={addItem}>
					<i class="fa fa-plus" aria-hidden="true" />
				</button>
			</th>
		</tr>
	</thead>
	<tbody>
		{#each items as { name, value }, i}
			<tr>
				<td>
					<input
						type="text"
						value={name}
						readonly={editing !== i}
						on:click={e => makeEditable(i, e)}
						on:keydown={handleEdit}
						on:blur={submit}
					/>
				</td>
				<td>
					<NumInput
						value={value || 0}
						on:input={e => handleInput(name, e.detail.value)}
						placeholder="Amount"
					/>
				</td>
				<td>
					<button
						class="btn float-right"
						on:click={() => deleteItem(name)}
					>
						<i class="fa fa-trash" aria-hidden="true" />
					</button>
				</td>
			</tr>
		{/each}
	</tbody>
	<tfoot>
		<tr>
			<th>Total</th>
			<td
				class={total > goal ? 'alert alert-danger' : ''}
				role="cell"
				aria-label="{name} Total">${total}</td
			>
		</tr>
	</tfoot>
</table>

<style>
	table {
		max-width: 340px;
		margin-left: 20px;
		margin-right: 20px;
	}

	input {
		border: none;
		padding: 0.5rem;
	}

	thead input {
		background: #ebebec;
	}
</style>
