<script>
	import { createEventDispatcher } from 'svelte';
	import { FormGroup, Label } from 'sveltestrap';
	import { Input } from 'sveltestrap';
	import Modal from './Modal.svelte';
	import NumInput from './NumInput.svelte';

	export let name;
	export let hoursPerWeek = 40;
	export let weeksPerYear = 52;

	const dispatch = createEventDispatcher();
	let hourly = 0;
	let monthly = 0;
	let yearly = 0;

	const handleInput = e => {
		const inputName = e.target ? e.target.name : e.detail.name;
		const value = Number(e.target ? e.target.value : e.detail.value);

		switch (inputName) {
			case 'hourly':
				hourly = value;
				yearly = hourly * hoursPerWeek * weeksPerYear;
				monthly = yearly / 12;
				break;
			case 'monthly':
				monthly = value;
				yearly = monthly * 12;
				hourly = yearly / hoursPerWeek / weeksPerYear;
				break;
			case 'yearly':
				yearly = value;
				hourly = yearly / hoursPerWeek / weeksPerYear;
				monthly = yearly / 12;
			default:
				break;
		}

		dispatch('change', {
			name: name,
			hourly: hourly,
			monthly: monthly,
			yearly: yearly
		});
	};
</script>

<td>
	<Modal title="Settings" icon="cog">
		<FormGroup>
			<Label for="hoursPerWeek">Hours Per Week</Label>
			<input
				type="number"
				id="hoursPerWeek"
				bind:value={hoursPerWeek}
				class="form-control"
			/>
		</FormGroup>
		<FormGroup>
			<Label for="weeksPerYear">Weeks Per Year</Label>
			<input
				type="number"
				id="weeksPerYear"
				bind:value={weeksPerYear}
				class="form-control"
			/>
		</FormGroup>
	</Modal>
</td>
<td>
	<NumInput
		name="hourly"
		placeholder="Hourly"
		value={hourly}
		on:input={handleInput}
	/>
</td>
<td>
	<NumInput
		name="monthly"
		placeholder="Monthly"
		value={monthly}
		on:input={handleInput}
	/>
</td>
<td>
	<NumInput
		name="yearly"
		placeholder="Yearly"
		value={yearly}
		on:input={handleInput}
	/>
</td>

<style>
	td {
		border: none;
	}
	td {
		padding: 0.25rem;
		vertical-align: middle;
	}

	th {
		padding: 0.75rem 0.25rem;
	}
</style>
