<script>
	import { createEventDispatcher } from 'svelte';
	import { FormGroup, Label } from 'sveltestrap';
	import Modal from './Modal.svelte';
	import NumInput from './NumInput.svelte';

	export let incomes = [
		{
			name: 'Income 1',
			hourly: 0,
			hoursPerWeek: 40,
			weeksPerYear: 52
		},
		{
			name: 'Income 2',
			hourly: 0,
			hoursPerWeek: 40,
			weeksPerYear: 52
		}
	];

	const dispatch = createEventDispatcher();

	const zeroIncome = () => ({
		hourly: 0,
		monthly: 0,
		yearly: 0
	});

	const yearly = income =>
		income.hourly * income.hoursPerWeek * income.weeksPerYear;

	const monthly = income => yearly(income) / 12;

	$: totals = incomes.reduce(
		(acc, income) => ({
			hourly: acc.hourly + (income.hourly || 0),
			monthly: acc.monthly + (income.monthly || monthly(income)),
			yearly: acc.yearly + (income.yearly || yearly(income))
		}),
		zeroIncome()
	);

	function hourChanged(incomeName, newValue) {
		incomes = incomes.map(i =>
			i.name === incomeName ? { ...i, hourly: newValue } : i
		);
		notify();
	}

	function monthChanged(incomeName, newValue) {
		incomes = incomes.map(i => {
			if (i.name === incomeName) {
				const yearly = newValue * 12;
				const hourly = yearly / i.weeksPerYear / i.hoursPerWeek;
				return { ...i, hourly: hourly };
			} else {
				return i;
			}
		});
		notify();
	}

	function yearChanged(incomeName, newValue) {
		incomes = incomes.map(i => {
			if (i.name === incomeName) {
				const hourly = newValue / i.weeksPerYear / i.hoursPerWeek;
				return { ...i, hourly: hourly };
			} else {
				return i;
			}
		});
		notify();
	}

	function addIncome() {
		incomes = [
			...incomes,
			{
				name: `Income ${incomes.length + 1}`,
				hourly: 0,
				hoursPerWeek: 40,
				weeksPerYear: 52
			}
		];
	}

	function deleteIncome(incomeName) {
		const index = incomes.findIndex(i => i.name === incomeName);
		incomes.splice(index, 1);
		incomes = incomes;
	}

	function notify() {
		dispatch('incomeChange', incomes);
	}
</script>

<table class="tbl">
	<thead>
		<tr>
			<th scope="col">
				<button class="btn" on:click={addIncome}>
					<i class="fa fa-plus" aria-hidden="true" />
				</button>
			</th>
			<th scope="col">Hourly</th>
			<th scope="col">Monthly</th>
			<th scope="col">Yearly</th>
		</tr>
	</thead>
	<tbody>
		{#each incomes as { name, hourly, hoursPerWeek, weeksPerYear }}
			<tr>
				<th>
					<Modal title="Settings" btnClass="px-0 text-left">
						<span slot="button">{name}</span>
						<div>
							<FormGroup>
								<Label for="incomeName">Name</Label>
								<input
									type="text"
									id="incomeName"
									bind:value={name}
									class="form-control"
								/>
							</FormGroup>
							<FormGroup>
								<Label for="hoursPerWeek">Hours Per Week</Label>
								<input
									type="number"
									id="hoursPerWeek"
									bind:value={hoursPerWeek}
									class="form-control"
								/>
							</FormGroup>
							<FormGroup>
								<Label for="weeksPerYear">Weeks Per Year</Label>
								<input
									type="number"
									id="weeksPerYear"
									bind:value={weeksPerYear}
									class="form-control"
								/>
							</FormGroup>
							<button
								class="btn btn-danger float-right"
								on:click={() => deleteIncome(name)}
							>
								<i class="fa fa-trash" aria-hidden="true" />
							</button>
						</div>
					</Modal>
				</th>
				<td>
					<NumInput
						name="hourly"
						placeholder="Hourly"
						value={hourly}
						width="3"
						on:input={e => hourChanged(name, e.detail.value)}
					/>
				</td>
				<td>
					<NumInput
						name="monthly"
						placeholder="Monthly"
						value={monthly({ hourly, hoursPerWeek, weeksPerYear })}
						on:input={e => monthChanged(name, e.detail.value)}
						width="4"
					/>
				</td>
				<td>
					<NumInput
						name="yearly"
						placeholder="Yearly"
						value={yearly({ hourly, hoursPerWeek, weeksPerYear })}
						on:input={e => yearChanged(name, e.detail.value)}
					/>
				</td>
			</tr>
		{/each}
		<tr>
			<th scope="row">Total</th>
			<th role="cell" aria-label="Hourly Total"
				>${Math.round(totals.hourly)}</th
			>
			<th role="cell" aria-label="Monthly Total"
				>${Math.round(totals.monthly)}</th
			>
			<th role="cell" aria-label="Yearly Total"
				>${Math.round(totals.yearly)}</th
			>
		</tr>
	</tbody>
</table>
