<script>
	import Modal from './Modal.svelte';
</script>

<Modal title="Install Budget App" icon="download">
	<h3>iOS</h3>
	<ol>
		<li>Open this site in Safari</li>
		<li>
			Press Safari's Share button
			<img
				src="https://img.icons8.com/windows/32/000000/share-rounded.png"
				alt="Safari share button"
			/>
		</li>
		<li>Press <b>Add to Home Screen</b></li>
	</ol>

	<h3>Android</h3>
	<ol>
		<li>Open this site in Chrome</li>
		<li>
			Press Chrome menu in top right
			<img
				src="https://img.icons8.com/material-rounded/24/000000/menu-2.png"
				alt="Chrome menu button"
			/>
		</li>
		<li>Press <b>Add to Home Screen</b></li>
	</ol>
</Modal>
