<script>
	import {
		Button,
		Modal,
		ModalBody,
		ModalFooter,
		ModalHeader
	} from 'sveltestrap';

	export let title = '';
	export let icon = 'question-circle';
	export let btnClass = '';

	let open = false;
	const toggle = () => (open = !open);
</script>

<div class="d-inline">
	<button class={`btn ${btnClass}`} on:click={toggle}>
		<slot name="button">
			<i class={`fa fa-${icon}`} aria-hidden="true" />
		</slot>
	</button>
	<Modal isOpen={open} toggle={toggle}>
		<ModalHeader toggle={toggle}>{title}</ModalHeader>
		<ModalBody>
			<slot />
		</ModalBody>
	</Modal>
</div>
