<script>
	import { createEventDispatcher } from 'svelte';
	import { Input } from 'sveltestrap';

	export let value = 0;
	export let width = 5;
	export let prefix = '$';
	export let postfix = '';

	$: displayValue = round(value);

	const dispatch = createEventDispatcher();

	function handleInput(e) {
		value = Number(e.target.value);
		dispatch('input', { name: $$props.name, value: round(value) });
	}

	function round(value) {
		return Math.round(value);
	}
</script>

<span>{prefix}</span><input
	{...$$props}
	type="number"
	size="5"
	value={displayValue}
	on:input={handleInput}
	readonly={false}
	on:focus={e => e.target.select()}
	style={`width: ${width}em;`}
/><span>{postfix}</span>

<style>
	input {
		border: none;
		border-bottom: 1px solid #c1c1c1;
		padding: 0.25rem;
		/*max-width: 6rem;*/
		text-align: right;
	}

	input:focus {
		outline: none;
	}

	span {
		color: #616161;
	}
</style>
